{{ 'collection-tabs.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.title }}
  </h1>
  <ul class="tabs">
    {%- for collection in collections -%}
      <li class="collection-titles">
        <h1>
          {{ collection.title }}
        </h1>
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "Collection Tabs",
  "tag": "section",
  "class": "collection_tabs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collections Tab Title",
      "default": "Collections"
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "name": "Collection Tabs",
      "type": "collection_tabs",
      "settings": [
        {
          "type": "collection_list",
          "id": "collections",
          "label": "Collections"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Collections Tabs"
    }
  }
}
{% endschema %}
