{{ 'collection-tabs.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.title }}
  </h1>
  <ul class="tabs">
    {%- for collection in collections -%}
      <li>
        <h1>
          {{ collection.title }}
        </h1>
      </li>
    {%- endfor -%}
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.collection-tabs.name",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.collection-tabs.settings.title.label",
      "default": "Collections"
    }
  ]
}
{% endschema %}
