

.tabs-desktop {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px;
    height: 75px;

}

.collection_list {
    display: flex;
    justify-content: center;
}

.tabs-mobile-wrapper {
    display: none;
}

.tabs-mobile {
    display: none;
}


@media (max-width: 767px) {
    .tabs-desktop {
        display: none;
    }
    h1 {
        text-align: center;
    }
   
   .tabs-mobile-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .tabs-mobile {
        display: flex;
        text-align: center;
       
    }
}

.collection_titles {
    font-size: 20px;
    color: rgba(128, 128, 128, 0.55);
}

