

.tabs-desktop {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px;
    height: 75px;

}

.tabs-mobile {
    display: none;
}

@media (max-width: 767px) {
    .tabs-desktop {
        display: none;
    }
    h1 {
        text-align: center;
    }
}

.collection_list {
    width: 100px;
}

.collection_titles {
    font-size: 20px;
    color: rgba(128, 128, 128, 0.55);
}

